<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Vikingo</string>
		<key>lastName</key>
		<string>Segundo</string>
		<key>email</key>
		<string>Vikingo@gmail.com</string>
		<key>birthDate</key>
		<date>2010-06-23T08:56:35Z</date>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Santa</string>
		<key>lastName</key>
		<string>Claus</string>
		<key>email</key>
		<string>Santa@claus.com</string>
		<key>birthDate</key>
		<date>1900-06-26T23:54:15Z</date>
	</dict>
</array>
</plist>
